{% extends 'Problems/base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Problems/index.css' %}">
{% endblock %}

{% block title %} Index Page {% endblock %}
{% block content%}
    <div class="full">
        <h1> LISTA DE PROBLEME </h1>
        <div class="problems">
            <table cellspacing="10px">
                <tr>
                    <th class="title first">Problema</th>
                    <th class="first">Dificultate (max 5)</th>
                </tr>
                {% for problem in problems%}
                <tr>
                    <th class="title"><a href = "problem/{{problem.id}}">{{problem.title}}</a></th>
                    <th>{{problem.rating}}</th>
                </tr>
                {% endfor %}
            </table>
        </div>  
    </div>
{% endblock %}